body {
    font-family: "Cantarell", serif;
    background-image: url("../pictures/bg-sloth1.jpg");
    color: white;
}
.shared-title {
    font-family: "Mrs Sheppards", cursive;
    font-size: 30px;
}
.shared-hr {
    background-color: black;
}