body {
    font-family: "Cantarell", serif;
    background-image: url("https://c402277.ssl.cf1.rackcdn.com/photos/6518/images/story_full_width/iStock_000011145477Large_mini_%281%29.jpg?1394632882")
}
.shared-title {
    font-family: "Mrs Sheppards", cursive;
    font-size: 30px;
}